
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(148, 128, 100); */
}

html{
    scroll-behavior: smooth ;
}

:root{
    --lg-container-width: 80%;
    --md-container-width: 90%;
    --sm-container-width: 94%;
}

.btn{
    /* margin: 2rem; */
    padding: 0.5rem 1rem;
    background-color: #00BFD8;
    border-radius: 2rem;
    width: max-content;
    color: white;
}

h1{
    font-size: 2.7rem;

}

h2{
    font-size: 2.3rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.4rem;
}

.container{
    margin: 0 auto;
    width: var(--lg-container-width);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

body{
    color: black;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100vw;
    height: 100vh;

}

main{
    background: url("./images/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav{
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.5rem;
    background-color: rgb(17, 61, 59);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 5rem;
}

.menu-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    list-style: none;
}

a{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
    gap: 8rem;
}

b{
    color: rgb(127, 218, 248);
}

.header__left{
    width: 50%;
}

.header__left p{
    margin: 1.5rem 0 2rem;
    width: 85%;
}


.header__right-img img{
width: 33rem;
}


section{
background-color: azure;
}

.trusted{
 text-align: center;
 padding: 4rem 0;
}

.support{
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem ;
}


.growth{
    text-align: center;
    padding: 4rem 0;
    font-size: 1.3rem;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;
    
}

.analysis{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 0 2px gray ;
}

.scan{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 0 2px gray ; 
}

.plan{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 0 2px gray ;
}

.services img{
    padding: 3rem;
}

.services h4{
    padding: 1rem 0;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
    gap: 8rem;
}

.design__left{
    width: 50%;
}

.design__right img{
    width: 30rem;
}

.design__left p{
    margin: 1.5rem 0 2rem;
    width: 98%;
}

.optimize{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
    gap: 8rem;
}

.terms__policy{
    display: flex;
    gap: 1.5rem;
}

.policy__left img{
    width: 30rem;
}

.policy__right{
    width: 40%;
    
}

.policy{
    padding: 2rem 0;
    list-style: none;
}

.policy-btn{
    background-color: transparent;
    color: grey;
    box-shadow: 0 0 2px gray ;
}

.policy span{
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

.pricing{
    text-align: center;
    padding: 4rem 0;
    font-size: 1.3rem; 
}

.pricing-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;   
}

.starter{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 0 2px gray ;
}

.medium{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 0 2px gray ;
}

.complete{
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 0 0 2px gray ;
}

.amount{
    padding: 2rem 0;
    /* box-shadow: 0 2px gray; */
}

.amount b{
    font-size: x-large;
}

.pricing-list{
    padding: 2rem 0;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
    gap: 8rem;
}

.form-left{
    width: 45%; 
}

.form-left p{
    margin: 1rem 0 2rem;
    width: 98%;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

input,select,textarea{
    padding: 0.5rem 1rem;
    background-color: rgba(128, 128, 128, 0.603);
}

input::placeholder, #selected,textarea{
    color: white;
    font-weight: 600;

}

textarea::placeholder{
    color: white;
}

textarea{
    resize: none;
}

.terms-condition{
    display: flex;
    gap: 0.5rem;
    margin: 1.2rem;
}


/* input,textarea{
    border: 0;
    outline: none;
    box-shadow: 0 0 0.5rem rgb(197, 229, 240);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-family: inherit;
    border-radius: 2rem !important;
} */

.price__header{
    text-align: center;
    margin-bottom: 2rem;
}

.amount{
    text-align: center;
}

.horizontal-line{
    background-color: rgb(182, 182, 182);
    width: 100%;
    height: 2px;
    border-radius: 2rem;
}


.list{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.list span{
    display: flex;
    gap: 0.5rem;
    margin: 0.8rem 0;
}

.form-btn{
    padding: 0.5rem 8rem;
    margin: 2rem;
}

.check-video{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    gap: 8rem;
    text-align: center;
}

.check-video img{
    padding: 3rem 0;
    width: 95%;
}

.check-video p{
    width: 75%;
    padding-left: 8rem;
}


